<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Rick and Morty</ion-title>

  </ion-toolbar>
</ion-header>

     
        
    
    
   
 
<ion-content>
  

  <ion-card>
    <ion-card-header>
      <img src="https://images-na.ssl-images-amazon.com/images/I/91MteSqsrJL.jpg" alt="" HSPACE=10 VSPACE=20>
      
      <ion-card-title>Rick anf Morty</ion-card-title>
      <ion-card-subtitle>Caricatura</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p align="justify"> Rick y Morty (en inglés: Rick and Morty) es una serie de televisión estadounidense 
      de animación para adultos creada por Justin Roiland y Dan Harmon en 2013 para Adult Swim. 
      La serie sigue las desventuras de un científico, Rick, y su fácilmente influenciable nieto, 
      Morty, quienes pasan el tiempo entre la vida doméstica y los viajes espaciales, temporales e 
      intergalácticos. Roiland es el encargado de darle voz a Rick y a Morty, 
      la serie también incluye las voces de Chris Parnell, Spencer Grammer y Sarah Chalke.</p>
      <div class="ion-padding">
        <ion-button routerLink="../usertlist" routerDirection="forward">Personajes</ion-button><ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  
  







</ion-content>